$clr-primary: #1f7c99;
$clr-secondary: #99b1bc;
$clr-success: #3eb056;
$clr-info: #16d8d8;
$clr-danger: #ed1414;
$clr-dark: #0f0f0f;
$clr-accent: #b1b1b1;

$primary: $clr-primary;
$secondary: $clr-secondary;
$success: $clr-success;
$info: $clr-info;
$danger: $clr-danger;
$dark: $clr-dark;
$link-hover-color: $clr-accent;
